
.calc{
  position:absolute;
  background-color:#5ADB89 ;
  width:350px;
  height:450px;
}
.h1{
  font-size: 12px;
  color: #E91E63;
  background-color: #EBE4E6;
  text-align: center;
  }
#disp{
  display:block;
  height:52px;
  background-color:#000;
  margin:10px;
}
#delete {
  background-color:red; 
}
.calc button{
  height:60px;
  width:80px;
  background-color:#EDEDF1;
  margin :2px;
}
#ans{
  width:341px;
  background-color: black;
}
#disp{
  font-size:50px;
  text-align:right;
  overflow:auto;
  background-color:white;
}
